<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="false">
    <targets>
      <target name="f1" xsi:type="File" fileName="app_data/file1.txt" layout="${longdate} ${callsite} ${message}"/>
      <!--<target name="f2" xsi:type="File" fileName="app_data/file2.txt" layout="${longdate} ${logger} ${message}"/>-->
      <target name="evt" xsi:type="EventLog" source="CiaranServiceNameTest1" layout="${longdate}${newline}${logger}${newline}${message}" />
      <target name="cw" xsi:type="Console" layout="${longdate} ${callsite} ${message}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="cw,f1"/>
      <!--<logger name="*" minlevel="Debug" writeTo="f1" />
      <logger name="*" minlevel="Warn" writeTo="f2" />-->
    </rules>
  </nlog>
  
</configuration>
