<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="false">

    <variable name="obgLayout" value="${level} ${longdate} ${callsite:when=level!='Info'} ${message} ${exception:when=level!='Info':format=Message,StackTrace:innerFormat=Message,StackTrace:maxInnerExceptionLevel=5}" />
    
    <targets>      
      <target name="f1" xsi:type="File" fileName="app_data/FirstService.FirstJob_log.txt" layout="${obgLayout}"/>
      <target name="f2" xsi:type="File" fileName="app_data/SecondService.SecondJob_log.txt" layout="${obgLayout}"/>
      
      <!--<target name="evt" xsi:type="EventLog" source="CiaranServiceName" layout="${longdate}${newline}${logger}${newline}${message}" />-->
      <target name="cw" xsi:type="Console" layout="${longdate} ${callsite} ${message}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="cw,f1"/>
      <logger name="FirstService.FirstJob" minlevel="Debug" writeTo="f1"/>
      <logger name="SecondService.SecondJob" minlevel="Debug" writeTo="f2"/>
      
    </rules>
  </nlog>
  
</configuration>
